body {
	background-image:url(../images/bg.jpg);
	background-repeat:repeat;
	width:100%;	
}

#wrap {
	width:750px;
	min-width:750px;
	margin:0px auto;
	background-color:#791818;
}

#header {
	background-repeat:no-repeat;
	background-image:url(../images/header.jpg);
	width:100%;
	height:194px;
}

#content {
	width:556px;
	float:right;
	margin-right:10px !important;
	margin-right:5px;
}

#content p {
	padding-right:17px;
	padding-left:15px;
	padding-top:5px;
	padding-bottom:5px;
}

#sidebar {
	float:left;
	width:172px;
	margin-left:8px !important;
	margin-left:4px;
}

#footer {
	clear:both;
	width:100%;
	height:60px !important;
	height:40px;
	background-color:#791818;
}

#footer div {
	float:left;
	height:100%;
}

#footer div.copy {
	width: 180px;
	padding-top:15px;
	padding-right:10px;
}

#footer div.bmenu {
	width: 557px;
} 
